
<p>
  <strong>Name:</strong>
  <%= @move.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @move.description %>
</p>

<p>
  <strong>Type:</strong>
  <%= render partial: 'types/type', locals: { type: @move.type } %>
</p>

<%= link_to 'Mofifier', edit_move_path(@move), class: 'btn btn-warning' %> |
<%= link_to 'Retour', moves_path, class: 'btn btn-info' %>
